.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.book-block {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}

.book-block:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.book-icon {
  font-size: 50px;
  color: #536DFE;
  margin-bottom: 10px;
}
